html, body {
  color:#555;
  height: 100vh;
}

// prevents animations from running on page load
// js remove this class after document ready
.preload * {transition:none!important}

.stickyWrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.divide {
  display: none;
  height: 100%;
  background: #fdfdfd;
  position: fixed;
  z-index: -1;
}

@media (min-width: 768px) {
  .divide {
    display: block;
    width: 44vw;
  }
}

@media (min-width: 1200px) {
  .divide {
    width: calc(50vw - 180px);
  }
}

.accordionTitle__content::before {
  content: '';
  display: inline-block;
  border-right: 2px solid #556;
  border-bottom: 2px solid #556;
  width: 6px; 
  height: 6px;
  transform: rotate(-135deg);
  margin-right: .5em;
}

.active .accordionTitle__content::before {
  transform: rotate(45deg);
  border-color: #fff;
  margin-bottom: .2em;
}

.accordionContent {
  overflow: hidden;
  transition: height 500ms ease;
  // border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  height: 0;
}

.accordionItem.active .accordionContent {
  height: auto;
}

.card-header {
  background: #00000005;
  border-bottom: 0;
  cursor: pointer;
}

.active .card-header {
  // color: #0069aa;
  color: #fff;
  border-bottom: 1px solid #0069aa35;
  background: #0069aa;
  // background: #0069aa linear-gradient(180deg,#268fff,#0069aa) repeat-x;
  transition: all 500ms ease;
}

.person {
  border-top: 1px solid #eaedf0;
}

.person__name {
  font-size: 1.15rem;
  color: #555;
}

.person__role {
  font-size: .8rem;
  color: #999;
  margin-bottom: 0;
}

.person__details__link,
.person__home__link,
.person__id__link {
  font-size: .8rem;
  cursor: pointer;
  display: block;
  padding-left: 0;
  color: #0069aa;
  margin-bottom: 1em;
  margin-top: 1em;
}

.person__details__link::before,
.person__home__link::before,
.person__id__link::before {
  content: '';
  display: inline-block;
  border-right: 2px solid #0069aa;
  border-bottom: 2px solid #0069aa;
  width: 6px; 
  height: 6px;
  transform: rotate(45deg);
  margin-right: .3em;
  margin-bottom: .15em;
}

.active.person__details__link::before,
.active.person__home__link::before,
.active.person__id__link::before {
  transform: rotate(-135deg);
  margin-bottom: 0;
}


@media (min-width: 992px) {
  .person__details > .container-fluid {
    padding-left: 150px;
  }
}

.navbar a {
  color: white;
}

.dropdown-menu a {
  color: #777;
}

.dropdown-toggle:hover {
  text-decoration: none;
  color: #ffc600;
}

.search-match-highlight {
  background-color: #fff5bf;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.loader.hide-loader {
  display: none;
}
