/* .btn {
    color: #fff;
    background-color: #0069aa;
    border-color: #0069aa;
} */


.results .h3 {
    font-size: 1.2rem;
}

@include media-breakpoint-up(sm) {
    .results ~ .h3 {
      font-size: 1.75rem;
    }
  }

/* this is so that the autocomplete textbox fills the width of the card */
.easy-autocomplete {
    width: 100% !important
}

/* adds a scrollbar to the results box and fixes border issues */
.easy-autocomplete-container > ul{
    max-height: 162px;
    overflow: scroll;
    border: 1px solid #ccc !important;
}

/* removes list item border to make all 4 sides uniform */
.easy-autocomplete-container > ul > li {
    border: none !important
}




/* .directory-picture{
    height: 170px;
    width: 150px;
    object-fit:cover;
    overflow:hidden;
    vertical-align: unset;
}

.silhouette-picture{
    height: 145px;
    width: 150px;
    object-fit:cover;
    overflow:hidden;
    vertical-align: unset;
} */
