#page-content-wrapper {
    padding: 1em;
}

.btn {
    color: #fff;
    background-color: #0056B5;
    border-color: #0056B5;
}

.card {
    width: 100%
}


.footer {
    border-top: 1px solid #eee;
    padding: 3em 1em;
}

.text-muted {
    padding-left: 10px
}

a {
    color: #007bff;
}

/* results.html styling */

.h2 {
    padding-top: 15px;
}

@media (max-width: 100%) {
    .border-edge {
        border-top: solid #d9dadb;
    }

    .vertical-padding {
        padding-top: 1em;
    }
}

@media (min-width: 575px) {
    .border-edge {
        border-left: solid #d9dadb;
    }
}

.card-view {
    max-width: 100%;
    font-size: 65%;
}

@media (min-width: 992px) {
    .card-view {
        overflow: scroll;
        height: 750px;
        border: 2px solid #d8d8d8;
    }
}
