<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/dist/main.css">
    {% include 'modules/favicons.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Directory | Bethel University</title>
</head>

<body class="preload">
    <div class="stickyWrapper">
        {# the jira endpoint doesn't need a nav #}
        {% if jira_endpoint != True %}
            {% include 'modules/navbar.html' %}
        {% endif %}
        <div class="divide"></div>
        <div class="container-fluid  mt-3  mt-md-5" style="max-width: 1200px">
            {% block content %}
            {% endblock %}
        </div>

        {# the jira endpoint doesn't need a footer #}
        {% if jira_endpoint != True %}
            <footer class="footer border-top  bg-white  p-4">
                <div class="container-fluid  p-4" style="max-width: 1200px">
                    <p class="text-muted  u-fs14  mb-0">Need Help? Contact the Help Desk at <a href="mailto:helpdesk@bethel.edu">helpdesk@bethel.edu</a></p>
                    <p class="text-muted  u-fs14  mb-0">© 2019 Bethel University</p>
                </div>
            </footer>
        {% endif %}
    </div>

    <script src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=CustomEvent"></script>
    <script src="/static/dist/main.js"></script>
    {% block scripts %}{% endblock %}

</body>

</html>