{% extends "base.html" %}

{% block title %} Whoops {% endblock %}

{% block content %}
    {% if code == 403 %}
        <h1 class="my-4">No permission</h1>
        <p>Sorry, it looks like you don’t have permission to visit this page! Try returning to the
            <a href="{{ url_for('View:index') }}">Directory</a>, or contact the Help Desk at <a href="mailto:helpdesk@bethel.edu">helpdesk@bethel.edu</a>
            if you think this is an error. </p>
    {% elif code == 404 %}
        <h1 class="my-4">Doesn't exist</h1>
        <p>We can’t find the page you’re looking for. Sorry about that! It’s possible that
            this page doesn’t exist or has been deleted. Try returning to the <a href="{{ url_for('View:index') }}">Directory</a>,
            or contact the Help Desk at <a href="mailto:helpdesk@bethel.edu">helpdesk@bethel.edu</a> if you need assistance. </p>
    {% else %}
        <h1 class="my-4">Can't load (server error)</h1>
        <p>This page is having trouble loading. Sorry about that! Try returning to the <a href="{{ url_for('View:index') }}">Directory</a>,
            or contact the Help Desk at <a href="mailto:helpdesk@bethel.edu">helpdesk@bethel.edu</a> if you need assistance. </p>
    {% endif %}
{% endblock %}