{% extends "base.html" %}
{% block content %}
    <div>
        <p>You're logged into the Bethel Directory.</p>
        <p><i><strong>Instructions.</strong></i> To search by name, please fill in the last and/or first name fields and
            click "Find Name". Use
            "?" to stand for "any letter", and "*" to stand for "any sequence of letters". Use the checkboxes to include
            or exclude information; the fewer you check, the faster you will get your results.</p>
        <p><i><strong>Examples.</strong></i> "Johns*" would find Johns, Johnson, and Johnston. "Hans?n" would find
            Hansen and Hanson. "Mi*"
            would find Mike and Michael. "*ara" would find Barbara, Lara, Sara, and Tamara.</p>
    </div>
    <div class="card">
        <div class="card-header"><strong>Search:</strong></div>
        <div class="card-block" style="padding: 1em">
            <form>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Barnes">
                </div>
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Jay">
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="Pictures" value="Pictures"> Pictures
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="Groups" value="Groups"> Groups
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="Home" value="Home"> Home
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="Staff" value="Staff"> Faculty/Staff
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="Students" value="Students"> Students
                    </label>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Find Name 🔎</button>
                    <button type="button" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card" style="margin-top: 1em">
        <div class="card-header"><strong>Advanced Search:</strong></div>
        <div class="card-block" style="padding: 1em">
            <p>To search by course, please fill in the course field with a word from the course title or a course number (like "GES105") and click "Find Course".</p>
            <form>
                <div class="form-group">
                    <label for="courseInfo">Course title/number</label>
                    <input type="text" class="form-control" id="courseInfo" placeholder="GES105">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Find Courses</button>
                </div>
            </form>
            <p>To search by department, please fill in the department field with a word from the department name and click "Find Department".</p>
            <form>
                <div class="form-group">
                    <label for="deptName">Department Name:</label>
                    <input type="text" class="form-control" id="deptName" placeholder="Science">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Find Department</button>
                </div>
            </form>
            <p>To search by advisor, please fill in the advisor field with a first or last name and click "Find Advisor".</p>
            <form>
                <div class="form-group">
                    <label for="advisorName">Advisor:</label>
                    <input type="text" class="form-control" id="advisorName" placeholder="Advisor Name">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Find Advisor</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <p>
    <a href="https://my.bethel.edu">Go to MyBethel</a>
        </p>
    <p>
    <a href="https://www.bethel.edu/">Go to Bethel.edu</a>
    </p>
{% endblock %}