{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="search col-lg-4" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Search by Name &#9662;
                        </a>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <form role="form" action="{{ url_for('View:fl_search') }}" class="directory-form" method="POST">
                            <div class="form-group">
                                <label for="first_name">First Name:</label>
                                <input type="text" class="form-control col-12 col-md-8 col-lg-10" name="first_name"
                                       id="first_name">
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name:</label>
                                <input type="text" class="form-control col-12 col-md-8 col-lg-10" name="last_name"
                                       id="last_name">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <a class="collapsed btn btn-secondary" data-toggle="collapse" data-parent="accordion" href="#collapseTwo"
                                   aria-expanded="false" aria-controls="collapseTwo"> Advanced &#9662;</a>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <label class="advanced">
                                            <input type="checkbox" class="home" name="home" value="home"/>
                                            Home
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="group" name="group" value="group"/>
                                            Groups
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="student" name="student" value="student" checked />
                                            Student
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="faculty" name="faculty" value="faculty" checked />
                                            Faculty/Staff
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                        <h5 class="collapsed">
                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Search by Username &#9662;
                            </a>
                        </h5>
                    </div>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <form role="form" action="{{ url_for('View:username_search') }}" class="directory-form" method="POST">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control col-12 col-md-8 col-lg-10" name="username"
                                       id="username">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <a class="collapsed btn btn-secondary" data-toggle="collapse" data-parent="accordion" href="#collapseFour"
                                   aria-expanded="false" aria-controls="collapseTwo"> Advanced &#9662;</a>
                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <label class="advanced">
                                            <input type="checkbox" class="home" name="home" value="home"/>
                                            Home
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="group" name="group" value="group"/>
                                            Groups
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="student" name="student" value="student" checked />
                                            Student
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="faculty" name="faculty" value="faculty" checked />
                                            Faculty/Staff
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingFive">
                        <h5 class="collapsed">
                            <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Search by Email &#9662;
                            </a>
                        </h5>
                    </div>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <form role="form" action="{{ url_for('View:email_search') }}" class="directory-form" method="POST">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" class="form-control col-12 col-md-8 col-lg-10" name="email"
                                       id="email">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <a class="collapsed btn btn-secondary" data-toggle="collapse" data-parent="accordion" href="#collapseSix"
                                   aria-expanded="false" aria-controls="collapseSix"> Advanced &#9662;</a>
                                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="card-body">
                                        <label class="advanced">
                                            <input type="checkbox" class="home" name="home" value="home"/>
                                            Home
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="group" name="group" value="group"/>
                                            Groups
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="student" name="student" value="student" checked />
                                            Student
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="faculty" name="faculty" value="faculty" checked />
                                            Faculty/Staff
                                        </label>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingSeven">
                        <h5 class="collapsed">
                            <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Search by Department &#9662;
                            </a>
                        </h5>
                    </div>
                </div>
                <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">
                        <form role="form" action="{{ url_for('View:dept_search') }}" class="directory-form" method="POST">
                            <div class="form-group">
                                <label for="department">Department:</label>
                                <input type="text" class="form-control col-12 col-md-8 col-lg-10" name="department"
                                       id="department">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <a class="collapsed btn btn-secondary" data-toggle="collapse" data-parent="accordion" href="#collapseEight"
                                   aria-expanded="false" aria-controls="collapseEight"> Advanced &#9662;</a>
                                <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                                    <div class="card-body">
                                        <label class="advanced">
                                            <input type="checkbox" class="home" name="home" value="home"/>
                                            Home
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="group" name="group" value="group" checked />
                                            Groups
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="student" name="student" value="student" checked />
                                            Student
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="faculty" name="faculty" value="faculty" checked />
                                            Faculty/Staff
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingNine">
                        <h5 class="collapsed">
                            <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                Search by ID &#9662;
                            </a>
                        </h5>
                    </div>
                </div>
                <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
                    <div class="card-body">
                        <form role="form" action="{{ url_for('View:id_search') }}" class="directory-form" method="POST">
                            <div class="form-group">
                                <label for="id">ID:</label>
                                <input type="text" class="form-control col-12 col-md-8 col-lg-10" name="bu_id"
                                       id="bu_id">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <a class="collapsed btn btn-secondary" data-toggle="collapse" data-parent="accordion" href="#collapseTen"
                                   aria-expanded="false" aria-controls="collapseTen"> Advanced &#9662;</a>
                                <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
                                    <div class="card-body">
                                        <label class="advanced">
                                            <input type="checkbox" class="home" name="home" value="home"/>
                                            Home
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="group" name="group" value="group"/>
                                            Groups
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="student" name="student" value="student" checked />
                                            Student
                                        </label>

                                        <label class="advanced">
                                            <input type="checkbox" class="faculty" name="faculty" value="faculty" checked />
                                            Faculty/Staff
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="results" class="card-view col-lg-8"></div>
    </div>

{# TODO: this is kind of random. Should probably be moved somewhere or something. Definitely needs comments #}
<script>
    var options = {
        data: {{ depts|safe }},
        list: {
            maxNumberOfElements: 100,
            requestDelay: 500,
            match: {
                enabled: true
            },
            sort: {
                enabled: true
            }
        }
	};
    $('#department').easyAutocomplete(options);
</script>
{% endblock %}