{% extends "base.html" %}

{% block content %}
<div class="row">
    {% include 'modules/search-form.html' %}

    <div class="col-md-6  col-xl-7  pb-4  ml-md-4">
        <div id="results" >
            <div class="introText">
                {% block result_content %}
                {% endblock %}
            </div>
        </div>
        <img class="loader  mx-auto  my-4  hide-loader" src="static/src/img/oval.svg" alt="" width="64">
    </div>
</div>
{% endblock %}

<!-- This is needed to connect awesomplete to the jinja variable for the department search. -->
{% block scripts %}
    <script type="text/javascript">
        const input = document.getElementById("department");
        const awesomplete = new Awesomplete(input, {
            minChars: 1,
            maxItems: 3,
            autoFirst: true
        });
        awesomplete.list = {{depts|safe}};
    </script>
{% endblock %}
